{% load static %}

<div style="height: 5vh;">
<div class="card rounded-0 p-0 m-0 ">
  <div class="card-body p-0 m-0 " id="titleCard">
    <div class="row">
      <div class="col ">
        <img width="200px" src="{% static 'mapstore/img/geonode-logo.svg' %}" class="img-fluid p-0 m-0 float-start"
          alt="seabee">
      </div>
      <div class="col align-self-center">
        <a href="#" id="leftPanelClose" class="text-secondary float-end pe-2" data-bs-target="#sidebar"
          data-bs-toggle="collapse"><i class="bi bi-x-circle bi-lg"></i></a>
      </div>
    </div>
  </div>
</div>
</div>


<div class=" overflow-y-scroll overflow-x-hidden pt-3 ps-1" style="height: 95vh;">

<table id="droneList" class="table table-striped dataTableStyle table-hover"></table>
</div>

