{% load static %}




<div class=" overflow-hidden  p-1 w-100 " style="height: 100vh;">

  <div class="card rounded-0 p-0 m-0 mb-2">
    <div class="card-body p-0 m-0 " id="titleCard">
      <div class="row">
        
        
        
      <div class="col-6 align-self-center">
          <img width="160px" src="{% static 'mapstore/img/geonode-logo.svg' %}" class="img-fluid p-2 m-0 float-start"
            alt="seabee">
        </div> 


        <div class="col-5 align-self-center text-end">
          <a href="{% url 'home' %}"
            class="link-primary link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"><i
              class="bi bi-house-door-fill"></i></a>
        </div>

        <div class="col-1 align-self-center ">
          <a href="#" id="leftPanelClose" class="text-secondary float-end pe-2" data-bs-target="#sidebar"
            data-bs-toggle="collapse"><i class="bi bi-x-circle bi-lg"></i></a>
        </div>
      </div>
    </div>
  </div>


  <div class="w-100  text-center " style="z-index: 99;">
    <div class="hstack gap-1 w-100 justify-content-center">
      
      <div >
        <h5 class="text-primary-emphasis small m-0 p-0">Theme filter:</h5>
      </div>
      
      <div id="divTheme" class="btn-group  ps-1 pe-1 mt-1 mb-1 w-75" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check" name="btnradioTheme" id="inputAll" autocomplete="off" checked>
        <label class="btn btn-outline-success m-0 p-0" for="inputAll">All</label>

        <input type="radio" class="btn-check" name="btnradioTheme" id="inputSeabirs" autocomplete="off">
        <label class="btn btn-outline-success m-0 p-0" for="inputSeabirs">🦢  Seabirds</label>


        <input type="radio" class="btn-check" name="btnradioTheme" id="inputHabitat" autocomplete="off">
        <label class="btn btn-outline-success m-0 p-0" for="inputHabitat"><span style="font-size: 1.2em;">🦦</span> Habitats</label>

        <input type="radio" class="btn-check" name="btnradioTheme" id="inputOther" autocomplete="off">
        <label class="btn btn-outline-success m-0 p-0" for="inputOther">🌊 Other</label>

      </div>


    </div>
  </div>



  <table id="droneList" class="table dataTableStyle table-hover table-striped"></table>
</div>
<!-- <div class=" overflow-y-scroll overflow-x-hidden pt-3 ps-1" style="height: 25vh;">

<h1>Hi all</h1>
  </div> -->