{% load static %}




<!-- <div class="col-12 ">
          One of two columnsOne of two columnsOne   One of two columnsOne of two columnsOne 
          One of two columnsOne of two columnsOne   One of two columnsOne of two columnsOne 
          </div>
          <div class="col-12 ">
            One of two columns
          </div>
          <div class="col-12 ">
            One of two columns
          </div>
        -->


<div class="card rounded-0 p-0 m-0 ">
  <div class="card-body p-0 m-0 " id="titleCard">
    <img width="60px" src="{% static 'home/img/place_logo_blue.svg' %}" class="img-fluid p-0 m-0" alt="PLACES">




    <a href="#" id="leftPanelClose" class="float-end p-3 text-secondary d-none d-md-block" data-bs-target="#sidebar"
      data-bs-toggle="collapse"><i class="bi bi-x-circle bi-lg"></i></a>





  </div>
</div>