{% extends "geoviz_navbar.html" %}
{% load static %}

{% block page_css %}
<!-- Load d3.js -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
<link
  href="https://cdn.datatables.net/v/bs5/dt-1.13.6/af-2.6.0/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.css"
  rel="stylesheet">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
  integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw-src.css" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.css"
  integrity="sha512-mQ77VzAakzdpWdgfL/lM1ksNy89uFgibRQANsNneSTMD/bj0Y/8+94XMwYhnbzx8eki2hrbPpDm0vD0CiT2lcg=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/MarkerCluster.Default.css"
  integrity="sha512-6ZCLMiYwTeli2rVh3XAPxy3YoR5fVxGdH/pz+KMCzRY2M65Emgkw00Yqmhh8qLGeYQ3LbVZGdmOX9KUjSKr0TA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="stylesheet" href="https://unpkg.com/@icon/icofont/icofont.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.css"/>

<link href="{% static 'mapMyDrone/css/geoviz_main.css' %}" rel="stylesheet" />


{% endblock page_css %}



{% block content %}

<div class="container-fluid">

  <div class="row flex-nowrap">

    <!-- This left pannel is manage under col property with same panel content -->
    <div class="col-auto px-0 d-none d-md-block  vh-100 bg-body-tertiary  shadow-lg   bg-body-tertiary m-0 p-0">

      <div id="sidebar" class="collapse  show collapse-horizontal ">
        <div id="sidebar-nav" style="width: 30vw;">


          {% include 'mapMyDrone/geoviz_filterInfo.html' %}


        </div>
      </div>

    </div>

    <div class="col p-0 m-0 position-relative " id="mapArea">

      {% include 'mapMyDrone/geoviz_mapInfo.html' %}

    </div>
  </div>


</div>




<div class="modal fade" style="width: 25vw; height: auto;z-index: 1020;" id="mapModelopt"  tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content ">
      <div class="modal-header p-2 mx-auto text-center">

        <button style="font-size: 8px;" type="button"
          class="btn-close border border-secondary position-absolute top-0 end-0 mt-1 me-1 rounded-circle p-1"
          data-bs-dismiss="modal" aria-label="Close"></button>
        <h6 class="modal-title  mt-3 text-primary-emphasis" value="">title</h6>
      </div>


      <div class="modal-body p-1" >
        <div class="row  g-2 align-items-center">
          <div class="col-9">

            <img src="#" class="rounded mx-auto d-block img-fluid" alt="Image preview not available.">
          </div>

          <div class="col-3 ">
            <div class="vstack gap-4  mt-2">

              <div class="d-grid col-12 "> <button id="btn_locate" valuexy="" valueuiid=""
                  class="btn btn-secondary btn-sm rounded" style="font-size: 13px;"><span
                    class="bi bi-geo-alt text-info  float-start ps-2"></span> Locate</button></div>


              <div class="d-grid col-12"> <button id="btn_overlay" value="" class="btn btn-secondary btn-sm rounded"
                  style="font-size: 13px;"><span class="bi bi-map text-info float-start ps-2"></span> Overlay</button>
              </div>

            <div class="d-grid col-12" id="mlAddBlock">
        
              <div class="btn btn-secondary btn-sm rounded ">
                <div class="form-check form-switch">
                <input style="width: 50px; height: 20px;" class="form-check-input" type="checkbox" role="switch" id="switchMlResults">
                <label  style="font-size: 13px;" class="form-check-label align-middle" for="switchMlResults">ML</label>
    
              </div>
            </div>
            </div>

              <div class="d-grid col-12 "> <button id="btn_detail" value="" class="btn btn-secondary btn-sm rounded"
                  style="font-size: 13px;" ;><span class="bi bi-info-square text-info float-start ps-2"></span>
                  Detail</button></div>


              {% if user.is_authenticated %}
              <div class="d-grid col-12"> <button id="btn_download" value="" class="btn btn-secondary btn-sm rounded"
                  style="font-size: 13px;"><span class="bi bi-cloud-arrow-down text-info float-start ps-2"></span>
                  Raster</button>
              </div>

              <div class="d-grid col-12"> <button id="btn_ml_download" value="" class="btn btn-secondary btn-sm rounded d-none"
                style="font-size: 13px;"><span class="bi bi-cloud-arrow-down text-info float-start ps-2"></span>
                ML Layer</button>
            </div>

              {% else %}
              <div class="d-grid col-12 d-inline-block downloadDisable" tabindex="0"
                data-bs-toggle="tooltip" data-bs-title="Authentication/login is required for downloading GeoTIFF.">
                <button class="btn btn-secondary btn-sm disabled rounded" style="font-size: 13px;"><span
                    class="bi bi-cloud-arrow-down text-info float-start ps-2"></span> Raster</button>
              </div>

              <div class="d-grid col-12 d-inline-block downloadDisable " tabindex="0"
              data-bs-toggle="tooltip" data-bs-title="Authentication/login is required for downloading ML results.">
              <button class="btn btn-secondary btn-sm disabled rounded" style="font-size: 13px;"><span
                  class="bi bi-cloud-arrow-down text-info float-start ps-2"></span> ML Layer</button>

                </div>


              {% endif %}


              <div class=" d-grid col-12"> <button id="btn_wms" value="" value2=""
                  class="btn btn-secondary btn-sm rounded" style="font-size: 13px;" ;><i
                    class="bi bi-database text-info float-start ps-2"></i> WMS</button></div>



              <div class="d-grid col-12"> <button id="btn_share" value="" value2="" class="btn btn-secondary btn-sm"
                  style="font-size: 13px;"><span class="bi bi-share-fill text-info float-start ps-2"></span>
                  Share</button></div>

              <div class="d-grid col-12"> <button id="btn_clear" value="" class="btn btn-secondary btn-sm"
                  style="font-size: 13px;"><span class="bi bi-trash3 text-info float-start ps-2"></span> Clear</button>
              </div>



            </div>
          </div>
        </div>

      </div>

      <!-- <div class="modal-footer border border-dark-subtle border-top col">
       

      </div> -->




    </div>
  </div>
</div>

{% include 'mapMyDrone/user_cradit.html' %}

{% endblock content %}


{% block page_js %}


<script>
  let isAuthenticated = {% if user.is_authenticated %}true{% else %} false{% endif %};
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"
  integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script
  src="https://cdn.datatables.net/v/bs5/dt-1.13.6/af-2.6.0/cr-1.7.0/date-1.5.1/fc-4.3.0/fh-3.4.0/kt-2.10.0/r-2.5.0/rg-1.4.0/rr-1.4.1/sc-2.2.0/sb-1.5.0/sp-2.2.0/sl-1.7.0/sr-1.3.0/datatables.min.js"></script>
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
  integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-minimap/3.6.1/Control.MiniMap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.draw/1.0.4/leaflet.draw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.5.3/leaflet.markercluster.js"
  integrity="sha512-OFs3W4DIZ5ZkrDhBFtsCP6JXtMEDGmhl0QPlmWYBJay40TT1n3gt2Xuw8Pf/iezgW9CdabjkNChRqozl/YADmg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.1/dist/chart.umd.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/driver.js@1.0.1/dist/driver.js.iife.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6/turf.min.js"></script>


<script src="{% static 'mapMyDrone/js/stepIntro.js' %}"></script>
<script src="{% static 'mapMyDrone/js/geoviz_main.js' %}"></script>
{% endblock %}