{% load static %}
<div class="modal fade" id="userCraditModel" style="width: 20vw; height: auto;z-index: 1020;" id="mapModelopt"  tabindex="-1" role="dialog" >
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header p-2 mx-auto text-center">
              
                <h5 class="text-primary-emphasis m-0 p-0 text-center w-100">SeaBee Partners</h5>
                <button style="font-size: 8px;" type="button"
                class="btn-close border border-secondary position-absolute top-0 end-0 mt-1 me-1 rounded-circle p-1"
                data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Add content here -->
                <div class="container-fluid">
                    <div class="row g-3">
                   
                            <h6 class="text-primary-emphasis m-0 p-0 text un"><u>Work Package Lead</u></h6>
                         
                            <div class="col">
                                <a target="_blank" href="https://www.niva.no/"><img width="100" src='{% static "mapstore/img/partner_logo/niva.png" %}' />
                                </a>
                            </div>
                            <div class="col">
                                <a href="https://www.grida.no/" target="_blank"><img width="100" src='{% static "mapstore/img/partner_logo/grid.png" %}' /></a>
                            </div>

                            <div class="col">
                                <a href="https://www.ntnu.no/" target="_blank"><img width="100" src='{% static "mapstore/img/partner_logo/ntnu.png" %}' /></a>
                            </div>
                            <div class="col">
                                <a href="https://nr.no/" target="_blank"><img width="100" src='{% static "mapstore/img/partner_logo/nr.png" %}' /></a>
                            </div>
                            <div class="col">
                                <a href="https://www.nina.no/" target="_blank"><img width="100" src='{% static "mapstore/img/partner_logo/nina.png" %}' /></a>
                            </div>
                            <div class="col">
                                <a href="https://www.hi.no/hi" target="_blank"><img width="100" src='{% static "mapstore/img/partner_logo/imr.png" %}' /></a>
                            </div>
                        </div>

                   

                        <div class="row g-3 mt-4">
                            <h6 class="text-primary-emphasis m-0 p-0"><u>Core Partners</u></h6>
                       
                            <div class="col">
                                <a href="https://www.andoyaspace.no/" target="_blank"><img width="100px"
                                        src='{% static "mapstore/img/partner_logo/aspac.png" %} '/></a>
                            </div>
                            <div class="col">
                                <a href="https://www.spectrofly.dk/" target="_blank"><img width="100px" src='{% static "mapstore/img/partner_logo/sectro.png" %}' /></a>
                            </div>
                        </div>

                      
                    <div class="row g-3 mt-4">
                        <div class="col">
                            <h6 class="text-primary-emphasis m-0 p-0"><u>Financed By</u></h6>
                         
                            <div class="col">
                                <a href="https://www.forskningsradet.no/en/" target="_blank"><img width="100px" src='{% static "mapstore/img/partner_logo/rcn.png" %}' /></a>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>