{% extends "geonode_base.html" %}

{% load i18n %}
{% block title %} {% trans "Seabee-Geovisualization" %} — {{ block.super }} {% endblock %}

{% block body_outer %}
<div class="page-header">
  <h2>{% trans "About the Seabee-Geovisualization" %}</h2>
</div>
<div class="text-justify">
<p>{% trans "Seabee-Geovisualization is a geospatial content management system, a platform for the management and publication of geospatial data. It brings together mature and stable open-source software projects under a consistent and easy-to-use interface allowing non-specialized users to share data and create interactive maps." %}</p>
<p>
{% trans "Data management tools built into Seabee-Geovisualization allow for integrated creation of data, metadata, and map visualizations. Each dataset in the system can be shared publicly or restricted to allow access to only specific users. Social features like user profiles and rating systems allow for the development of communities around each platform to facilitate the use, management, and quality control of the data the GeoNode instance contains." %}
</p>
<p>{% trans "It is also designed to be a flexible platform that software developers can extend, modify or integrate against to meet requirements in their own applications." %}
</p>

<p>{% trans "SeaBee will develop and establish a cloud database for storage of raw, processed and metadata using appropriate and scalable database solutions to ensure fast and efficient data access. A “cloud agnostic” solution based on existing technologies, with UNINETT/Sigma2 as the hosting provider, will ensure a cost-efficient and validated technical solution for safe and long-term data storage, sufficient to manage large amounts of data, as envisioned being produced by the infrastructure. Approximately 50 to 100 TB of data is expected within year 1 to 5, and up to 500 TB after 10 years. Using novel Application Programming Interface (API) technology, data will be shared openly and free of charge. API technology facilitate integration with third party solutions. A user-friendly front-end portal will enable interactive search, discovery and downloading functions of SeaBee cloud-based data sharing." %}
</p>
</div>
{% endblock %}
