

body{

background-color: white;


}

/* #sidebar-nav {
    width: 250px;
}  

#offcanvasBottom{

   height: 60vh;
    
}*/

#mapD{
    height: 100vh;
}



::-webkit-scrollbar {
    -webkit-appearance: unset;
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: rgba(215, 208, 208, 0.938);
    box-shadow: 0 0 1px rgba(215, 208, 208, 0);
} 


/*popup styleing*/
.leaflet-popup-content-wrapper {
    
    background-color: rgba(0, 213, 255, 0.438);
  
}

.leaflet-container a.leaflet-popup-close-button {
   
     font: 10px; 
    color: #fff;
    
}


/* ##################### datatable css start #################### */

.dataTableStyle td {
    font-size: 14px; /* Change this value to your preferred font size */
}



/*apply hover to first col only*/
.dataTableStyle td:first-child:hover {
    cursor: pointer;
}

.biStyle{
    font-size: 15px;
    color: #007bff;
}

.biStyle:hover {
    cursor: pointer;
}

/* center the datatable cell contant of secnd row */
.dataTables_wrapper .dataTable td:nth-child(2) {
    text-align: center;
    vertical-align: middle;
}


.dataTables_wrapper .dataTable thead th {
    background-color:#004C73;  /* Adjust color as needed */
    color: white;
}

div.dataTables_wrapper div.dataTables_info {
   
    font-size: 0.7em;
}


.dataTables_wrapper .dataTables_paginate .paginate_button .page-link {
    font-size: 0.9em;  /* Adjust as needed */

}


.dataTables_wrapper .dataTables_length {
    font-size: 0.8em;  /* Adjust as needed */
}

.dataTables_wrapper .dataTables_filter {
    font-size: 0.8em;  /* Adjust as needed */
}


/* ############ datatable css end */




#mapModelopt  .modal-header:hover {

    cursor: move !important;

}


.uppertext{
    text-transform: uppercase;
}

.stripe1 td {
    background-color: #d2f2ff98;
}
.stripe2 td {
    background-color: #ebebebd8;

    
}



/* .modal-header:hover {
    cursor: move !important;
  } */

  .modal-backdrop
  {
      opacity:0 !important;
  }



  @keyframes fade { 
    from { opacity: 0.5; } 
  }
  
  .blinking {
    animation: fade 1s infinite alternate;
    margin-top: 100px;
  }


  .dataTables_wrapper {
    height: 100%;
}